<button id="dark-mode-toggle" aria-label="dark mode toggle"  aria-pressed="false">
    <img
      class="cs-moon"
      aria-hidden="true"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmoon.svg"
      decoding="async"
      alt="moon"
      width="15"
      height="15"
    />
    <img
      class="cs-sun"
      aria-hidden="true"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg"
      decoding="async"
      alt="moon"
      width="15"
      height="15"
    />
  </button>

  <script>
    // helper function to toggle aria-pressed
    function ariaPressed(element) {
    const isPressed = element.getAttribute('aria-pressed');
    element.setAttribute('aria-pressed', isPressed === 'false' ? 'true' : 'false');
}
    // Creates the dark mode toggle event listener
    const setToggleListener = () => {
      const darkModeToggleButton = document.getElementById('dark-mode-toggle')
      const handleToggleClick = () => {
        
        document.body.classList.toggle("dark-mode");
        ariaPressed(darkModeToggleButton)
        const isDark = document.body.classList.contains("dark-mode");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      };
  
      darkModeToggleButton?.addEventListener("click", handleToggleClick);
    };
  
    setToggleListener();
  
    document.addEventListener("astro:after-swap", setToggleListener); // For View Transitions purposes - astro:after-swap ensures that the listener is re-attached after navigating to a new page.
  </script>