---
import PhoneCTA from "./PhoneCTA.astro";
---

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1252">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Onze Diensten</span>
                <h2 class="cs-title">Gespecialiseerde Reinigingsdiensten</h2>
            </div>
            <p class="cs-text">
                <PhoneCTA />
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/diensten/crime-scene-cleaning" class="cs-link">
                    <h3 class="cs-h3">Crime Scene Cleaning</h3>
                    <p class="cs-item-text">
                        Van de reiniging plaats delict, over schoonmaak en ontsmetting van gevangeniscellen en politievoertuigen, tot technische ontmanteling van cannabisplantages.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure1.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure1.jpeg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure1.jpeg" alt="Crime Scene Cleaning" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/diensten/gespecialiseerde-schoonmaak" class="cs-link">
                    <h3 class="cs-h3">Gespecialiseerde Schoonmaak</h3>
                    <p class="cs-item-text">
                        Van het eenmalig reinigen van een zwaar vervuilde woning of na een onopgemerkt overlijden tot het ontruimen van inboedel of een periodieke stal- en industriële reiniging.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure2.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure2.jpg" alt="Gespecialiseerde Schoonmaak" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/diensten/industriele-reiniging" class="cs-link">
                    <h3 class="cs-h3">Industriële Reiniging</h3>
                    <p class="cs-item-text">
                        Bij intensief gebruik van productiehallen en werkruimtes is een professionele en industriële reiniging noodzakelijk om het werkcomfort en de veiligheid te garanderen.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure3.jpg">
                    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/structure3.jpg" alt="Industriële Reiniging" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
  </section>
                                
  
  <style lang="less">
    /*-- -------------------------- -->
  <---          Services          -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
      #services-1252 {
          padding: var(--sectionPadding);
          position: relative;
          z-index: 10;
  
          .cs-container {
              width: 100%;
              max-width: (1280/16rem);
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: clamp(3rem, 6vw, 4rem);
          }
  
          .cs-content {
              /* set text align to left if content needs to be left aligned */
              text-align: left;
              width: 100%;
              display: flex;
              flex-direction: column;
              /* centers content horizontally, set to flex-start to left align */
              align-items: flex-start;
              gap: 1rem;
              
              @media only screen and (max-width: 47.9375rem) {
                  flex-direction: column-reverse;
                  align-items: center;
                  text-align: center;
                  gap: 1.5rem;
              }
          }
  
          .cs-title {
              max-width: 20ch;
          }
  
          .cs-card-group {
              margin: 0;
              padding: 0;
              width: 100%;
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              /* 16px - 20px */
              gap: clamp(1rem, 2vw, 1.25rem);
          }
  
          .cs-item {
              width: 100%;
              text-align: left;
              list-style: none;
              margin: 0;
              padding: 0;
              background-color: #000;
              border-radius: (8/16rem);
              /* clips background image corners */
              overflow: hidden;
              box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
              /* prevents padding and border from affecting height and width */
              box-sizing: border-box;
              grid-column: span 12;
              grid-row: span 1;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-end;
              position: relative;
              z-index: 1;
  
              &:hover {
                  .cs-item-background {
                      img {
                          opacity: 0.4;
                          transform: scale(1.3);
                      }
                  }
  
                  .cs-h3 {
                      color: var(--primary);
                  }
              }
  
              &:before {
                  content: "";
                  width: 100%;
                  height: 100%;
                  border: 1px solid rgba(255, 255, 255, 0.4);
                  /* prevents border from affecting height and width */
                  box-sizing: border-box;
                  border-radius: (8/16rem);
                  /* prevents the mouse from interacting with it so when you hover hover the other elements inside the card it doesn't block your mouse from hovering over them */
                  pointer-events: none;
                  opacity: 1;
                  position: absolute;
                  display: block;
                  top: 0;
                  left: 0;
                  z-index: 10;
              }
          }
  
          .cs-link {
              text-decoration: none;
              /* 125px - 236px */
              /* padding goes on the link, not the cs-item as is normal. We do this because we want the whole card to be hoverable. So we add the padding to the link tag to create the space inside the card. By adding the space inside the cs-link tag we can make the whole card hoverable since the padding is now contributing to the height and widht of the link */
              padding: clamp(7.8125rem, 19vw, 14.75rem) (24/16rem) (24/16rem);
              position: relative;
              display: block;
  
              &::after {
                  content: '';
                  width: (40/16rem);
                  height: (40/16rem);
                  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='M13 5l7 7-7 7'/%3E%3C/svg%3E");
                  background-size: contain;
                  background-repeat: no-repeat;
                  position: absolute;
                  top: (24/16rem);
                  right: (24/16rem);
                  transform: rotate(-45deg);
                  transition: transform 0.3s ease;
                  pointer-events: none;
              }
  
          }
  
          .cs-h3 {
              /* 20px - 25px */
              font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
              line-height: 1.2em;
              text-align: inherit;
              margin: 0 0 (12/16rem) 0;
              color: var(--bodyTextColorWhite);
              transition: color 0.3s;
          }
  
          .cs-item-text {
              /* 14px - 16px */
              font-size: clamp(0.875rem, 1.5vw, 1rem);
              line-height: 1.5em;
              max-width: (450/16rem);
              margin: 0;
              padding: 0;
              color: var(--bodyTextColorWhite);
          }
  
          .cs-item-background {
              width: 100%;
              height: 100%;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
  
              &:before {
                  /* background color overlay */
                  content: "";
                  position: absolute;
                  display: block;
                  height: 100%;
                  width: 100%;
                  background: #1a1a1a;
                  opacity: 0.6;
                  top: 0;
                  left: 0;
                  z-index: 1;
              }
  
              &:after {
                  /* background color overlay */
                  content: "";
                  position: absolute;
                  display: block;
                  height: 100%;
                  width: 100%;
                  background: -moz-linear-gradient(
                      top,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 1) 100%
                  ); /* FF3.6-15 */
                  background: -webkit-linear-gradient(
                      top,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 1) 100%
                  ); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(
                      to bottom,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 1) 100%
                  );
                  opacity: 0.4;
                  bottom: 0;
                  left: 0;
                  z-index: 2;
              }
  
              img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  /* Makes img tag act as a background image */
                  object-fit: cover;
                  transition:
                      transform 0.6s,
                      opacity 0.3s;
              }
          }
      }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
      #services-1252 {
  
          .cs-content {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 0rem;
          }
  
          .cs-title {
              margin: 0;
          }
  
          .cs-flex-group {
              width: 50%;
              
              @media only screen and (max-width: 47.9375rem) {
                  width: 100%;
                  align-items: center;
              }
          }
  
          .cs-item {
              grid-column: span 6;
          }
      }
  }
  
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
      #services-1252 {
          .cs-item {
              grid-column: span 4;
          }
      }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
      body.dark-mode {
          #services-1252 {
              .cs-title,
              .cs-text {
                  color: var(--bodyTextColorWhite);
              }
  
              .cs-text {
                  opacity: 0.8;
              }
          }
      }
  }
  
                                  
  </style>