---
import "../styles/root.less";
---

<div class="phone-cta">
    <span class="phone-text">Dringend hulp nodig?</span>
    <div class="phone-info">
        <img src="/assets/images/call.svg" alt="Bel ons" class="phone-icon" />
        <a href="tel:+32471708090" class="phone-link">
            <span class="phone-number">+32 (0)471 70 80 90</span>
        </a>
    </div>
</div>

<style lang="less">
    .phone-cta {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        gap: 0.75rem;
        
        @media only screen and (max-width: 767px) {
            margin-top: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 0.5rem;
        }
    }

    .phone-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0rem;
        
        @media only screen and (max-width: 767px) {
            justify-content: center;
        }
    }

    .phone-link {
        display: flex;
        align-items: right;
        text-decoration: none;
        color: var(--bodyTextColor);
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
            text-decoration: underline;
        }
    }

    .phone-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }

    .phone-number {
        font-size: var(--bodyFontSize);
        white-space: nowrap;
        font-weight: var(--bodyFontWeight);
    }

    .phone-text {
        font-size: var(--bodyFontSize);
        font-weight: bold;
        white-space: nowrap;
    }

    /* Dark Mode */
    :global(body.dark-mode) {
        .phone-link {
            color: var(--primaryLight);

            &:hover {
                color: var(--secondary);
            }
        }
    }
</style>
