---
/**
 * * This layout displays projects in a grid format
**/

import { formatDate } from "@js/utils";
import "@styles/projects.less";

const { projects } = Astro.props;
const defaultLogo = "../../assets/images/projects/placeholder-logo.svg";
---

<section class="projects-section">
  <div class="projects-container">
    <div class="projects-grid">
      {
        projects.map((project) => (
          <a href={`/projects/${project.id}`} class="project-card">
            <div class="project-card-inner">
              <div class="project-logo-container">
                <img 
                  src={project.data.logo || defaultLogo} 
                  alt={`${project.data.title} logo`}
                  class="project-logo"
                  width="120"
                  height="120"
                />
              </div>
              <div class="project-client">
                <span>{project.data.title}</span>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
